<html>

<body>
    <% include ./header %>
    <h1>User Profile</h1>
    <div>
        <ul>
            <li>Email: <%= user.email  %> </li>
            <li>UID: <%= user.id  %> </li>
            <li>Role ID: <%= user.role_id  %> </li>
        </ul>
    </div>
</body>
</html>